
<dialog #dialog class="ads-dialog">
  <div class="dialog-content">
    <button class="close-button" (click)="closeModal()">×</button>
    <a href="/login">
    <img src="https://th.bing.com/th/id/OIP.5zhZ88LuEkegbVo-NG-x6AHaDg?rs=1&pid=ImgDetMain" alt="Advertisement" class="ad-image">
    <div class="ad-text">
      <h2>Quảng cáo đặc biệt</h2>
      <p>Đây là nội dung quảng cáo của bạn. Hãy thêm mô tả hấp dẫn ở đây.</p>
    </div>
  </a>
    <button class="action-button" (click)="closeModal()">Đóng</button>
  </div>
</dialog>

