/* watching.component.scss */
body.light-mode {
    background-color: #ffffff;
    color: #333333;
  }
  
  body.dark-mode {
    background-color: #333333;
    color: #ffffff;
  }
  
  /* Các quy tắc CSS khác cho watching component */
  