<div class="container">
    <div class="row fullwith-slider"></div>
</div>
<div class="container" *ngIf="userResponse">
    <div class="row container" id="wrapper">
        <!-- <div class="halim-panel-filter">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="yoast_breadcrumb hidden-xs"><span><span><a href="">Trang chủ</a> » <span><a
                                            href="">Thông tin cá nhân</a></span></span></span></div>
                    </div>
                </div>
            </div>
            <div id="ajax-filter" class="panel-collapse collapse" aria-expanded="true" role="menu">
                <div class="ajax"></div>
            </div>
        </div> -->
        <main id="main-contents" class="col-xs-12 col-sm-12 col-md-8">
            

            <div class="container bootstrap snippet" *ngIf="!showUpdateForm && !changePasswordForm">
                <div class="halim-panel-filter">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="yoast_breadcrumb hidden-xs"><span><span><a href="">Trang chủ</a> » <span><a
                                    routerLink="/profile/{{ userResponse.id }}">Thông tin cá nhân</a></span></span></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="ajax-filter" class="panel-collapse collapse" aria-expanded="true" role="menu">
                        <div class="ajax"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">

                        <div class="text-center" *ngIf="imageUrl">
                            <img *ngIf="userResponse" [src]="imageUrl" height="100px" width="100px"
                                class="avatar img-circle img-thumbnail" alt="avatar">
                            <div class="action-user">
                                <button type="button" class="btn btn-warning" (click)="toggleUpdateForm()"><i
                                        class="fa-regular fa-pen-to-square"></i>Cập
                                    nhật</button>
                                <button type="button" class="btn btn-primary" (click)="togglechangePassword()"><i
                                        class="fa-solid fa-key"></i> Đổi mật khẩu</button>
                            </div>
                        </div><br>

                    </div>
                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div class="film-poster col-md-12">
                                <ul class="list-info-group">
                                    <li class="list-info-group-item"><span>Họ và tên</span> : <span
                                            class="info-user">{{userResponse.full_name}}</span></li>
                                    <li class="list-info-group-item"><span>Số điện thoại</span> : <span
                                            class="info-user">{{userResponse.phone_number}}</span></li>
                                    <li class="list-info-group-item"><span>Email</span> : <span
                                            class="info-user">{{userResponse.email}}</span></li>
                                    <li class="list-info-group-item"><span>Ngày sinh</span> : <span
                                            class="info-user">{{userResponse.date_of_birth_formatted}}</span></li>
                                    <li class="list-info-group-item"><span>Thành viên VIP</span> : <span
                                            class="imdb">VIP1</span>
                                    </li>
                                    <li class="list-info-group-item last-item"
                                        style="-overflow: hidden;-display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-flex: 1;-webkit-box-orient: vertical;">
                                        <span>Ngày tạo</span> : <span
                                            class="info-user">{{userResponse.created_at_formatted}}</span>
                                    </li>
                                </ul>
                                <div class="movie-trailer hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container bootstrap snippet">
            
                <form class="form-update-profile" action="##" method="post" *ngIf="showUpdateForm">
                    <div class="halim-panel-filter">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="yoast_breadcrumb hidden-xs"><span><span><a href="">Trang chủ</a> » <span><a
                                        routerLink="/profile/{{ userResponse.id }}" (click)="toggleInforUser()">Thông tin cá nhân</a> » <span><a
                                                            href="">Cập nhật</a></span></span></span></span></div>
                                </div>
                            </div>
                        </div>
                        <div id="ajax-filter" class="panel-collapse collapse" aria-expanded="true" role="menu">
                            <div class="ajax"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="text-center">

                                <div *ngIf="imageUrl">
                                    <img [src]="imageUrl" alt="Image" height="100px" width="100px" />
                                </div>
                                <div *ngIf="!imageUrl">
                                    <p>Loading image...</p>
                                </div>
                                <label for="image">Image</label>
                                <input type="file" name="image" class="form-control" id="imageUpload"
                                    (change)="onFileSelected($event)">
                            </div><br>
                        </div>
                        <div class="col-sm-9">

                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="full_name">
                                                <h5>Full name</h5>
                                            </label>
                                            <input type="text" name="fullName" [(ngModel)]="fullName"
                                                class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="phone">
                                                <h5>Phone</h5>
                                            </label>
                                            <input type="text" class="form-control" [(ngModel)]="phoneNumber"
                                                name="phone" required>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="email">
                                                <h5>Email</h5>
                                            </label>
                                            <input type="text" class="form-control" [(ngModel)]="email" name="email"
                                                required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <br>
                                            <button type="button" (click)="update()" class="btn btn-warning">Cập nhật thông tin cá
                                                nhân</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="container bootstrap snippet">
                <form class="form-update-profile" *ngIf="changePassForm" #changePasswordForm="ngForm">
                    <div class="halim-panel-filter">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="yoast_breadcrumb hidden-xs"><span><span><a href="">Trang chủ</a> » <span><a
                                        routerLink="/profile/{{ userResponse.id }}" (click)="toggleInforUser()">Thông tin cá nhân</a> » <span><a
                                                            href="">Đổi mật khẩu</a></span></span></span></span></div>
                                </div>
                            </div>
                        </div>
                        <div id="ajax-filter" class="panel-collapse collapse" aria-expanded="true" role="menu">
                            <div class="ajax"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="text-center">

                            </div><br>
                        </div>
                        <div class="col-sm-9">

                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="first_name">
                                                <h5>Mật khẩu cũ</h5>
                                            </label>
                                            <input type="password" class="form-control" [(ngModel)]="currentPassword"
                                                name="currentPassword" placeholder="Current Password" required>
                                        </div>
                                    </div>
                                    <p class="text-danger" *ngIf="currentPasswordError">{{ currentPasswordError }}</p>
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="first_name">
                                                <h5>Mật khẩu mới</h5>
                                            </label>
                                            <input type="password" class="form-control" [(ngModel)]="newPassword"
                                                name="newPassword" placeholder="New Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="last_name">
                                                <h5>Xác nhận mật khẩu</h5>
                                            </label>
                                            <input type="password" class="form-control" [(ngModel)]="confirmPassword"
                                                name="retypePassword" (input)="checkPasswordMatch()"
                                                placeholder="Confirm New Password" required>
                                        </div>
                                    </div>

                                    <p class="text-danger"
                                        *ngIf="changePasswordForm.controls['retypePassword']?.hasError('passwordMisMatch') && changePasswordForm.form.touched">
                                        Password and confirmation password do not match!
                                    </p>
                                    <p class="text-danger" *ngIf="passwordStrength">{{ passwordStrength }}</p>

                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <br>
                                            <button type="button" class="btn btn-primary" (click)="changePassword()"><i
                                                    class="fa-solid fa-key"></i>Đổi mật khẩu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>



        </main>
    </div>
</div>