<link rel="stylesheet" href="../../../assets/css/style.css">

<section class="related-movies">
   <div id="halim_related_movies-2xx" class="wrap-slider">
     <div class="section-bar clearfix">
       <h3 class="section-title"><span>CÓ THỂ BẠN MUỐN XEM</span></h3>
     </div>
     <div id="halim_related_movies-2" class="owl-carousel owl-theme related-film">

       <article *ngFor="let movie of movies" class="thumb grid-item post-38498">
        <div class="halim-item">
          <a class="halim-thumb" [title]="movie.name" href="/detail/{{movie.id}}">
            <figure><img class="lazy img-responsive" [src]="movie.url" [alt]="movie.name"></figure>
            <span class="status">HD</span><span class="episode"><i class="fa fa-play" aria-hidden="true"></i>Vietsub</span>
            <div class="icon_overlay"></div>
            <div class="halim-post-title-box">
              <div class="halim-post-title">
                <p class="entry-title">{{movie.name}}</p>
                <p class="original_title">{{movie.genre_name}}</p>
              </div>
            </div>
          </a>
        </div>
      </article>
     </div>
   </div>
 </section>
 
