<form #changePasswordForm="ngForm">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="header-text mb-4 text-center">
            <h2>Change Password</h2>
            <p>Please enter your current and new password.</p>
          </div>
  
          <div class="input-group mb-3">
            <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="currentPassword"
                   name="currentPassword" placeholder="Current Password" required>
          </div>
          <p class="text-danger" *ngIf="currentPasswordError">{{ currentPasswordError }}</p>
  
          <div class="input-group mb-3">
            <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="newPassword"
                   name="newPassword" placeholder="New Password" required>
          </div>
  
          <div class="input-group mb-3">
            <input type="password" class="form-control form-control-lg bg-light fs-6" [(ngModel)]="confirmPassword"
                   name="retypePassword" (input)="checkPasswordMatch()"
                   placeholder="Confirm New Password" required>
          </div>
          <p class="text-danger" *ngIf="changePasswordForm.controls['retypePassword']?.hasError('passwordMisMatch') && changePasswordForm.form.touched">
            Password and confirmation password do not match!
          </p>
          <p class="text-danger" *ngIf="passwordStrength">{{ passwordStrength }}</p>
  
          <div class="input-group mb-3">
            <button class="btn btn-lg btn-primary w-100 fs-6" (click)="changePassword()">Change Password</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  