<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<style>
  .logo-momo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
    object-fit: cover;
  }

  .logo {
    width: 150px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
    object-fit: cover;
  }

  #btn-pay-method {
    background-color: #fff;
  }

  #btn-pay-method:hover {
    background-color: #dee2e6;
    transition: background-color 0.3s;
  }
</style>


<div class="card-body">
  <div class="row d-flex justify-content-center pb-5">
    <div class="col-md-7 col-xl-5 mb-4 mb-md-0">
      <div class="py-4 d-flex flex-row">
        <h4><i class="fa-regular fa-credit-card"></i><b>CineConnect</b> |</h4>
        <span class="ps-2">Thanh Toán</span>
      </div>
      <h4>Phương thức chuyển khoản</h4>
      <div class="pt-2">
        <div class="d-flex pb-2">
          <div class="ms-auto">
            <p class="text-primary">
              <a style="text-decoration: none;" href="${pageContext.request.contextPath}/home"><i
                  class="fas fa-plus-circle text-primary pe-1"></i>Trở về >> Trang chủ</a>
            </p>
          </div>
        </div>
        <p>
          Đây là ước tính cho phần đơn đặt hàng của bạn (không được bao gồm bởi
          bảo hiểm) đáo hạn vào ngày hôm nay . sau khi bảo hiểm hoàn tất việc xem xét hoàn lại tiền của họ
          và/hoặc số dư sẽ tự động được điều chỉnh.
        </p>

        <form>
          <div class="d-flex flex-row pb-3">
            <button id="btn-pay-method" type="submit" class="rounded border d-flex w-100 p-3 align-items-center"><img
                src="assets/images/logo-momo.webp" alt="Momo Logo"
                class="logo-momo">Thanh Toán Bằng MOMO</button>
                
          </div>
        </form>

        <form (ngSubmit)="onSubmit()">
          <div class="d-flex flex-row pb-3">
            <input type="hidden" name="amount" [value]="amount">
            <input type="hidden" name="orderInfo" value="vnpay">
            <button id="btn-pay-method" type="submit" class="rounded border d-flex w-100 p-3 align-items-center"><img
                src="assets/images/logo-vnpay.jpg" alt="VNPAY Logo"
                class="logo">Thanh Toán Bằng VNPAY</button>
          </div>
        </form>
      </div>
    </div>