.rating {
    display: flex;
    flex-direction: row-reverse; /* Đặt các ngôi sao nằm ngang từ phải sang trái */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    cursor: pointer;
    font-size: 2rem;
    color: gray;
    padding: 0 5px;
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: gold;
  }
  
  .rating input[type="radio"]:checked ~ label {
    color: gray;
  }
  
  .rating input[type="radio"]:checked + label,
  .rating input[type="radio"]:checked + label ~ label {
    color: gold;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px; /* Thêm khoảng cách giữa các nút */
  }

  button.form-control {
    background-color: #222d38;
}