.error-message-container {
    width: 100%; /* hoặc kích thước cố định nếu bạn muốn */
    text-align: center; /* căn giữa nội dung */
    margin-bottom: 20px; /* khoảng cách dưới phần tử */
  }

  ul.pagination.justify-content-end {
    // display: flex;
    // justify-content: center;
    margin-left: 22%;
  }
  