<link rel="stylesheet" href="../../../assets/css/style.css">

<body>
<div class="container">
   <div class="row fullwith-slider"></div>
</div>
<div class="container" *ngIf="movie">
   <div class="row container" id="wrapper">
      <div class="halim-panel-filter">
         <div class="panel-heading">
            <div class="row">
               <div class="col-xs-6">
                  <div class="yoast_breadcrumb hidden-xs"><span><span><a href="">Phim hay</a> » <span><a
                                 href="danhmuc.php">{{ movie.country_name }}</a> » <span class="breadcrumb_last"
                                 aria-current="page">{{ movie.name }}</span></span></span></span></div>
               </div>
            </div>
         </div>
         <div id="ajax-filter" class="panel-collapse collapse" aria-expanded="true" role="menu">
            <div class="ajax"></div>
         </div>
      </div>
      <main id="main-contents" class="col-xs-12 col-sm-12 col-md-8">
         <section id="content" class="test">
            <div class="clearfix wrap-content">

               <div class="halim-movie-wrapper">
                  <div class="title-block">
                     <div id="bookmark" class="bookmark-img-animation primary_ribbon" data-id="38424">
                        <div class="halim-pulse-ring"></div>
                     </div>
                     <div (click)="addMovieBookmark(movie.id)" id="get-bookmark" class="box-shadow"><i class="fa-regular fa-bookmark"></i><span> Bookmarks</span></div>
                     <div class="error-message-container">                     
                      </div>
                  </div>
                  <div class="movie_info col-xs-12">
                     <div class="movie-poster col-md-3">
                        <img class="movie-thumb" [src]="movie.url" alt="{{ movie.name }}">
                        <div class="bwa-content">
                           <div class="loader"></div>
                           <a (click)="checkFee(movie.is_fee, movie.id, movie.limited_age)" class="bwac-btn">
                              <i class="fa fa-play"></i>
                           </a>
                        </div>
                     </div>
                     <div class="film-poster col-md-9">
                        <h1 class="movie-title title-1"
                           style="display:block;line-height:35px;margin-bottom: -14px;color: #ffed4d;text-transform: uppercase;font-size: 18px;">
                           {{ movie.name }}</h1>
                        <h2 class="movie-title title-2" style="font-size: 12px;">{{ movie.genre_name }} ({{ movie.release_date_formated}})</h2>
                        <ul class="list-info-group">
                           <li class="list-info-group-item"><span>Trạng Thái</span> : <span
                                 class="quality">HD</span><span class="episode">Vietsub</span></li>
                           <li class="list-info-group-item"><span>Số tập</span> : <span class="imdb">{{ movie.episode
                                 }}</span></li>
                           <li class="list-info-group-item"><span>Thời lượng</span> : {{ movie.duration }}</li>

                           <li class="list-info-group-item">
                              <!-- Phải tạo 1 table tab_movie_genre (vì phim sẽ có nhiều thể loại) -->
                              <span>Thể loại</span> :
                              <a href="link-to-category1" rel="category">Chiếu Rạp</a>,
                              <a href="link-to-category2" rel="category">Hành động</a>,
                              <a href="link-to-category3" rel="category">Phiêu Lưu</a>,
                              <a href="link-to-category4" rel="category">Viễn Tưởng</a>
                           </li>
                           <li class="list-info-group-item"><span>Quốc gia</span> : <a href="" rel="tag">{{
                                 movie.country_name }}</a></li>
                           <li class="list-info-group-item"><span>Số lượt xem</span> : <a class="director"
                                 rel="nofollow" href="https://phimhay.co/dao-dien/cate-shortland"
                                 title="Cate Shortland">{{ movie.number_views }}</a></li>
                           <li class="list-info-group-item last-item"
                              style="-overflow: hidden;-display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-flex: 1;-webkit-box-orient: vertical;">
                              <span>Độ tuổi giới hạn</span> : {{ movie.limited_age }}</li>
                        </ul>
                        <div class="movie-trailer hidden"></div>
                     </div>
                  </div>
               </div>
               <div class="clearfix"></div>
               <div id="halim_trailer"></div>
               <div class="clearfix"></div>
               <div class="section-bar clearfix">
                  <h2 class="section-title"><span style="color:#ffed4d">Nội dung phim</span></h2>
               </div>
               <div class="entry-content htmlwrap clearfix">
                  <div class="video-item halim-entry-box">
                     <article id="post-38424" class="item-content">
                        Phim <a href="">{{ movie.name }}</a> - {{
                        movie.release_date_formated }} - {{ movie.country_name }}:
                        <p>{{ movie.name }} &#8211; {{ movie.description }}</p>
                        <h5>Từ Khoá Tìm Kiếm:</h5>
                        <ul>
                           <li>{{ movie.slug }}</li>
                        </ul>
                     </article>
                  </div>
               </div>
               <!-- <div class="section-bar clearfix">
                  <h2 class="section-title"><span style="color:#ffed4d">Đánh giá phim</span></h2>
               </div>
               <div class="entry-content htmlwrap clearfix">
                  <div class="video-item halim-entry-box">
                  
                     <app-rating></app-rating>
            </div>
         </div> -->
         <div class="section-bar clearfix">
            <h2 class="section-title"><span style="color:#ffed4d">Bình luận phim</span></h2>
         </div>
         <div class="entry-content htmlwrap clearfix">
            <div class="video-item halim-entry-box">
               <div class="fb-comments" 
     [attr.data-href]="'http://localhost:4200/movie/' + movie.id" 
     data-numposts="5" 
     data-width="100%">
</div>
               <app-comment></app-comment>
      
      </div>
   </div>
            </div>
         </section>
         <app-movie-related></app-movie-related>
      </main>
      <app-top-views></app-top-views>
   </div>
</div>
</body>